<ion-content>
  <main-header title="Welcome Back, {{username}}"></main-header>
  <app-subbar [navItems]="navItems"></app-subbar>
  <ion-grid>
    <ion-row>
      <ion-col class="taskcol">
        <ion-row class="scrollmenu">
          <ion-button *ngFor="let m of modules" id="{{m.name}}" (click)="filterTasks($event)"><b id="{{m.name}}">{{m.name}}</b></ion-button>
        </ion-row>
        <ion-row>
          <div class="taskcontainer">
            <h2 class="taskheader">Upcoming Tasks:</h2>
            <ion-content>
              <ion-list class="tasklist">
                <div *ngFor="let t of selectedtasks">
                  <div class="taskbox" style.background="{{t.color}}">
                    <h4 class="taskmod"><b>{{t.name}}</b></h4>
                    <p class="taskdesc"><b>{{t.desc}}</b></p>
                    <p class="tasktime"><b>{{t.deadline}}</b></p>
                  </div>
                  <div style='clear:both;'></div>
                </div>
              </ion-list>
            </ion-content>
          </div>
        </ion-row>
      </ion-col>
      <ion-col size="6" class="news">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Latest News</ion-card-title>
          </ion-card-header>
          <ion-content>
            <ion-list id="list">
              <ion-item *ngFor="let n of selectednews; let i=index" class="ncontainer">
                <div class="newsbox">
                  <h1 class="newstitle">{{n.title}}</h1>
                  <div class="divider"></div>
                  <p class="newscontent">{{n.content}}</p>
                  </div>
              </ion-item>
            </ion-list>
            <ion-infinite-scroll threshold="100px" (ionInfinite)="loadNews($event)">
              <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
              </ion-infinite-scroll-content>
            </ion-infinite-scroll>
          </ion-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
