ion-row ion-button {
  width: 150px;
  border-radius: 30px;
  --background: #efebe2;
  --color: #07040a;
  font-size: 17px;
  opacity: 100%;
  --background-hover: #b175ff;
  --background-hover-opacity: 1;
}
ion-row.scrollmenu {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  padding-left: 5%;
}
ion-col.taskcol {
  width: 50%;
}
div.taskbox {
  background: #ababab;
  width: 95%;
  height: 50px;
  color: #07040a;
  box-shadow: inset 0 2px 7px #000;
  position: relative;
}

h4.taskmod {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 14px;
  padding-left: 15px;
  float: left;
}
p.taskdesc {
  font-size: 18px;
  left: 110px;
  margin-top: 16px;
  padding-left: 20px;
  float: left;
  position: absolute;
}
p.tasktime {
  float: right;
  padding-right: 14px;
  font-size: 18px;
  margin-top: 16px;
}

ion-card {
  --background: #07040a;
  height: 640px;
  max-height: 640px;
  border-radius: 2%;
}
ion-card ion-content {
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  --background: #07040a;
}
ion-list {
  background: transparent;
}

div.taskcontainer {
  padding-left: 7%;
  width: 100%;
  height: 600px;
}
h2.taskheader {
  margin-top: 10px;
  font-size: 22px;
}
ion-card ion-card-title {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 5px;
  font-size: 30px;
}
ion-item.ncontainer {
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
ion-item.ncontainer:last-child {
  margin-bottom: 100px;
}
div.newsbox {
  height: 90px;
  width: 100%;
  background: #1f1f1f;
  display: inline-block;
}
h1.newstitle {
  padding-top: 20px;
  padding-left: 20px;
  color: #ab0552;
  float: left;
}
div.divider {
  background: #efebe2;
  height: 90px;
  width: 3px;
  position: absolute;
  float: right;
  border-radius: 35%;
  left: 13%;
  display: block;
}
p.newscontent {
  padding-top: 5px;
  padding-left: 50px;
  overflow: auto;
  font-size: 16px;
  color: #ab0552;
}

@media (max-width: 1024px) {
  .news {
    display: none;
  }
  ion-row ion-button {
    width: 120px;
    font-size: 14px;
  }
  ion-col.taskcol {
    width: 100%;
  }
  div.taskcontainer {
    height: 300px;
  }
  div.taskbox {
    height: 40px;
  }
  h2.taskheader {
    font-size: 18px;
  }
  h4.taskmod {
    font-size: 15px;
  }
  p.taskdesc {
    font-size: 14px;
    left: 80px;
  }
  p.tasktime {
    font-size: 14px;
  }
}
