<ion-content>
  <main-header title="Forum"></main-header>
  <ion-row>
    <ion-title>School</ion-title>
    <ion-slides
      [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }"
    >
      <ion-slide tappable (click)="clickSubCat($event)" name="0" id="{{i}}" *ngFor="let card of ['InfoComm Technoogy','Business & Accountancy', 'Design & Environment', 'Engineering', 'Film & Media Studies', 'Health Sciences', 'Interdisciplinary Studies', 'Life Sciences & Chemical Technology']; index as i">
        <ion-col>
          <img style="pointer-events: none" src="./assets/forum/school-{{i+1}}.png" onerror="this.onerror=null;this.src='./assets/forum/school.png';" /><br/>
          <ion-label>{{ card }}</ion-label>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </ion-row>
  <app-forum-cat subCat={{subCat}} *ngIf="isSchoolShowing"></app-forum-cat>
  <ion-row>
    <ion-title>CCA</ion-title>
    <ion-slides
      [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }"
    >
      <ion-slide tappable (click)="clickSubCat($event)" class="1 {{i}}" *ngFor="let card of [0,1,2,3,4,5,6,7]; index as i">
        <ion-col>
          <img style="pointer-events: none" src="./assets/forum/NP-ICT.png" onerror="this.onerror=null;this.src='./assets/forum/school.png';" />
          <ion-label>OverFlow {{ card }}</ion-label>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </ion-row>
  <app-forum-cat #cca subCat={{subCat}} *ngIf="isSchoolShowing"></app-forum-cat>
</ion-content>
