<ion-header>
  <main-header title="Forum"></main-header>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <div>
        <p>hi</p>
        <br />
        <p>hi</p>
        <br />
        <p>hi</p>
        <br />
        <p>hi</p>
        <br />
        <p>hi</p>
        <br />
        <p>hi</p>
        <br />
        <p>hi</p>
        <br />
        <p>hi</p>
        <br />
        <p>hi</p>
        <br />
        <p>hi</p>
        <br />
        <p>hi</p>
        <br />
        <p>hi</p>
        <br />
        <p>hi</p>
        <br />
        <p>hi</p>
        <br />
        <p>hi</p>
        <br />
        <p>hi</p>
        <br />
        <p>hi</p>
        <br />
        <p>hi</p>
        <br />
        <p>hi</p>
        <br />
        <p>hi</p>
        <br />
        <p>hi</p>
        <br />
        <p>hi</p>
        <br />
        <p>hi</p>
        <br />
        <p>hi</p>
        <br />
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
