ion-row ion-title {
  margin: 15px;
  font-size: 22px;
  font-weight: bold;
  display: block;
}
ion-slides {
  width: 100%;
  ion-slide {
    white-space: normal;
    height: 260px;
    width: 200px;
    overflow: auto;
    display: block;
    p {
      text-align: center;
      width: 100%;
      color: white;
      font-size: 18px;
    }
    ion-col img {
      border-radius: 50%;
      height: 140px;
      width: 140px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
.swiper-container {
  margin: 0;
}
