<ion-content>
  <main-header title="New post"></main-header>
  <app-subbar [navItems]="navItems"></app-subbar>
  <form [formGroup]="createForm" (ngSubmit)="submit()">
    <div>
      <label>Title</label>
      <input type="text" formControlName="title">
    </div>
    <div class="mTop">
      <label>Description</label>
      <textarea rows="10" type="text" formControlName="description"></textarea>
    </div>
    <ion-button [disabled]="!createForm.valid" type="submit" expand="block">Post <ion-icon slot="end" name="create">
      </ion-icon>
    </ion-button>
  </form>
</ion-content>
