ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #07040a));
  --ion-item-background: #07040a;
}

ion-menu.md ion-content {
  --padding-start: 0px;
  --padding-end: 0px;
  --padding-top: 30px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 10px 0;
}

ion-menu.md ion-list#accPages {
  position: fixed;
  bottom: 10px;
}

ion-menu.md ion-list#navPages ion-icon {
  color: #efebe2;
  align-self: center;
}

ion-menu.md ion-list#accPages ion-icon {
  color: #efebe2;
}

ion-menu.md ion-item {
  --background: #07040a;
  --background-hover: #b175ff;
  --background-hover-opacity: 1;
}

ion-split-pane {
  --side-width: 120px;
  --side-min-width: auto;
  --side-max-width: 28%;
}

ion-menu.md ion-item.selected {
  --background: #b175ff;
}

ion-menu {
  --min-width: 28%;
  max-width: 120px;
}

ion-icon {
  margin: auto;
  width: 100%;
  text-align: center;
}

ion-item::part(native) {
  padding-inline-start: calc(var(--ion-safe-area-right, 0px) + var(--inner-padding-end));
  padding-inline-end: 0 !important;
  .item-inner {
    padding: 0 !important;
    flex: none !important;
  }
}

@media only screen and (max-width: 991px) {
  ion-menu,
  ion-content {
    --min-width: 20%;
    max-width: 70px;
  }
}
