$col-1: white;
$col-2: black;
$col-3: #efebe2;
$col-4: #c4c4c4;
$col-5: #bdc3cb;

p {
  margin: 0;
  color: black;
}
ion-icon {
  pointer-events: none;
}
ion-row{
  margin-bottom: 10px;
}
.post-con {
  margin-top: 30px;
  margin-bottom: 30px;
  .post-box {
    width: 100%;
    padding: 10px;
    margin: 5px 80px;
    border: 5px solid $col-4;
    background-color: $col-1;
    height: auto;
    padding: 15px 25px;
    .t-col-2{
      color: $col-2;
    }
    .t-col-5 {
      color: $col-5;
    }
    hr {
      background-color: $col-4;
    }
    .post-btm {
      display: flex;
      .avatar {
        height: 32px;
        width: 32px;
        justify-self: start;
        margin: 2px 5px 2px 0px;
      }
      .post-user {
        width: 100%;
      }
      .post-com {
        width: 100%;
        justify-self: end;
        text-align: end;
        cursor: pointer;
      }
    }
  }
}

.addBtn {
  position: fixed;
  left: calc(50% - 25px);;
  bottom: 25px;
  .btn-circle {
    background-color: #00a1cb;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 13px;
    font-size: 25px;
    color: white;
    line-height: 1.33;
    border-radius: 100%;
  }
  .btn-circle:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.12) 0 0);
  }
}

@media only screen and (max-width: 700px) {
  .post-con {
    .post-box {
      margin: 15px 30px;
    }
  }
}
