$val-width: calc(100vh * 0.64);

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}

p {
  margin: 0;
}
ion-icon {
  pointer-events: none;
}

.bg {
  margin: 0 auto;
  width: min($val-width, 100%);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}
.inv {
  button {
    float: right;
    background-color: transparent;
    img {
      width: 60px;
    }
  }
}
.pet {
  max-width: 60vh;
  width: 60%;
  margin: 0 auto;
}
.indicator {
  margin: 0 auto;
  .level {
    margin-bottom: 30px;
    #account-bar {
      display: flex;
      flex-wrap: wrap;
      background-color: black;
      border-radius: 36px;
      width: min($val-width, 85%);
      margin: 0px auto;
      padding: 12px 18px;
    }

    #account-bar-level {
      font-size: 30px;
      display: inline-block;
      margin: 0px auto;
    }

    #account-bar-next-level {
      margin: 0 auto;
      padding-left: 6px;
      display: inline-block;
      font-size: 25px;
    }
  }
}

#energy-bar {
  display: flex;
  background-color: darkcyan;
  border-radius: 25px;
  width: min($val-width, 50%);
  margin: 0px auto;
  padding: 4px 10px;
  .bar {
    background-color: aquamarine;
  }
  .bar-fill {
    background: limegreen;
  }
}

.bar {
  height: 10px;
  width: calc(100% - 15px);
  background: #035;
  margin: auto 10px;
  display: inline-block;
  vertical-align: middle;
}

.bar-fill {
  height: 100%;
  background: #3af;
  font-size: 12px;
  line-height: 10px;
  text-align: right;
}

.action {
  position: absolute;
  display: flex;
  justify-content: space-around;
  bottom: 0;
  width: min($val-width, 100%);
  padding: 35px 15px;
  .btn {
    ion-icon {
      font-size: 38px;
    }
    padding: 15px;
    border-radius: 100%;
  }
  .btn:hover {
    background-color: crimson;
  }
  .feed {
    background-color: limegreen;
  }
  .play {
    background-color: deepskyblue;
  }
  .sleep {
    background-color: darkorange;
  }
}
.error {
  background-color: red;
  border-radius: 25px;
  width: min($val-width, 70%);
  margin: 5px auto;
  padding: 4px 12px;
  text-align: center;
  display: none;
}

@media only screen and (max-width: 991px) {
  .indicator {
    .level {
      #account-bar-level {
        font-size: 25px;
      }
      #account-bar-next-level {
        font-size: 20px;
      }
    }
  }
  .action {
    padding: 20px 15px;
    .btn {
      ion-icon {
        font-size: 30px;
      }
      padding: 10px;
    }
  }
}
