<div class="container">
  <div class="bg">
    <div class="indicator">
      <div class="level">
        <div id='account-bar'>
          <div id='account-bar-level'>Level 5</div>
          <div id='xp-bar'>
            <div id='xp-bar-fill' style="width: 0.1%;">
            </div>
          </div>
          <div id='account-bar-next-level'>6</div>
        </div>
      </div>
    </div>
    <div class="pet">
      <img src="../../assets/game/pet/1.png">
    </div>
    <div class="action">
      <button class="btn"><span title="Feed" style="font-size: x-large;"><ion-icon name="fast-food-outline"></ion-icon></span></button>
      <button class="btn"><span title="Play" style="font-size: x-large;"><ion-icon name="basketball-outline"></ion-icon></span></button>
      <button class="btn"><span title="Sleep" style="font-size: x-large;"><ion-icon name="bed-outline"></ion-icon></span></button>
    </div>
  </div>
</div>
