<div class="container">
  <div class="bg">
    <div class="indicator">
      <div class="level">
        <div id='account-bar'>
          <div id='account-bar-level'>Level {{level}}</div><br>
          <div id='xp-bar'>
            <div id='xp-bar-fill' style="width: {{perExp}}%;">
            </div>
          </div><br>
          <div id='account-bar-next-level'>{{rExp}} exp more to level up</div>
        </div>
      </div>
    </div>
    <div class="pet">
      <img src="../../assets/game/pet/1.png">
    </div>
    <div class="action">
      <button class="btn feed"><span title="Feed" style="font-size: x-large;"><ion-icon name="fast-food-outline"></ion-icon></span></button>
      <button class="btn play"><span title="Play" style="font-size: x-large;"><ion-icon name="basketball-outline"></ion-icon></span></button>
      <button class="btn sleep"><span title="Sleep" style="font-size: x-large;"><ion-icon name="bed-outline"></ion-icon></span></button>
    </div>
  </div>
</div>
