<ion-content>
  <main-header title="{{title}}"></main-header>
  <ion-row class="ion-justify-content-start ion-align-items-start post-con">
    <div
      class="post-box"
      *ngFor="let card of ['Welcome to CSF', 'How to hack the bank', 'help!!!!!!']; index as i"
    >
      <div class="post-box-2" [routerLink]="['./create']">
        <p class="post-title">{{card}}</p>
        <p class="post-desc t-col-5">testing</p>
        <hr />
        <div class="post-btm">
          <img src="./assets/square-frame.png" class="avatar" />
          <div class="post-user">
            <p class="t-col-5">hi</p>
            <p class="t-col-5">2 hour ago</p>
          </div>
          <div class="post-com">
            <p class="t-col-5">
              <ion-icon name="chatbox-outline"></ion-icon>20+
            </p>
          </div>
        </div>
      </div>
    </div>
  </ion-row>
  <div class="addBtn">
    <button shape="round" class="btn-circle" title="New post" [routerLink]="['./create']">
        <ion-icon slot="icon-only" name="add"></ion-icon>
    </button>
  </div>
</ion-content>
